.vscode/

android/build
android/ndk
android/sdk

include/raylib.h
lib/*/*raylib*
raylib

romphonix
*.exe
*.apk
*.keystore

emsdk/
index.html
*.wasm
*.js
*.data

# Sub-projects
mapeditor/include/raylib.h
mapeditor/lib
rpxmap