.vscode/

android/build
android/ndk
android/sdk

include/raylib.h
lib/*/*raylib*
raylib

romphonix
*.exe
*.apk
*.keystore

emsdk/
index.html
*.wasm
*.js
*.data

*.log
save.tfs
assets/data/*.tfs

# Sub-projects
mapeditor/include/raylib.h
mapeditor/lib
rpxmap

assets/graphics/phones/fictional